@{
    Layout = "_Layout";
}

<h1>Welcome to the ToDoList Application</h1>

<p>This is a simple To Do List application where you can manage your tasks, categories, and tags.</p>

<p>@Html.ActionLink("View Tasks", "Index", "Items")</p>
<p>@Html.ActionLink("View Categories", "Index", "Categories")</p>
<p>@Html.ActionLink("See all tags", "Index", "Tags")</p>