@model ToDoList.Models.Tag

@{
    ViewData["Title"] = "Delete Tag";
}

<h2>Are you sure you want to delete this tag?</h2>
<div>
    <h4>@Model.Title</h4>
    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="TagId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>