@model ToDoList.Models.Tag

@{
    ViewData["Title"] = "Tag Details";
}

<h2>@Model.Title</h2>

@if (Model.JoinEntities.Any())
{
    <ul>
    @foreach (var join in Model.JoinEntities)
    {
        <li>
            @join.Item.Description
            @using (Html.BeginForm("DeleteJoin", "Tags", new { joinId = join.ItemTagId }, FormMethod.Post))
            {
                <input type="submit" value="Remove association" class="btn btn-warning"/>
            }
        </li>
    }
    </ul>
}

<a asp-action="Edit" asp-route-id="@Model.TagId">Edit Tag</a> |
<a asp-action="Delete" asp-route-id="@Model.TagId">Delete Tag</a> |
<a asp-action="Index">Back to List</a>